.btn {
    .os-sb;
    .rounded-corners(3px);
    .pointer;
    .inline-b; 
    font-size: 14px;
    padding: 7px 14px;
    border: none;
    &:hover {
        .opacity(0.8);
    }

}
.btn_a {
    .lbc; 
    .black; 
    .tdn; 
    .inline-b;
    .os-sb;
    .rounded-corners(3px);
    padding: 10px 14px;
    font-size: 14px;
    &:hover {
        .opacity(0.8);
    }
}
.btn_delete {
    .block;
    .pointer;
    .va-m;
    width: 20px;
    height: 20px;
    background: url('@{img_path}/delete.png') no-repeat center center;
    background-size: 20px;
    &:hover {
        .opacity(0.8);
    }
}
.btn_hide {
    .blbc;
    .white;
}
.btn_on {
    .lbc;
    .black;
}