.chart {
    .absolute;
    left: 0;
    right: 193px;
    height: 400px;
}
.chart__total {
     .absolute;
    .ta-c;
    .va-t;
    .os-sb;
    .w-20;
    right: 0;
    top: 0;
    width: 193px;
    height: 450px;
    background-color: #e3f2fd;
}
.chart__total_label {
    margin-bottom: 7px;
    font-size: 14px;
    &:first-child {
        margin-top: 70px;
    }
}
.chart__total_num {
    .mb-15;
    font-size: 26px;    
}
.chart__mb {
    .inline-b;
    .white;
    .os-sb;
    .ta-c;
    .of-h;
    .rounded-corners(8px);
    margin: 60px 0 25px 0;
    font-size: 14px;
}
.mb__operator {
    .relative;
    font-size: 15px;
    top: -7px;
}
.mb__text {
    width: 120px;
    height: 61px;
    padding: 0 5px;
    background-color: #004c94;
}
.chart__balance {
    .relative;
    top: -2px;
    font-size: 20px;
}
.chart__phone {
    .os-sb;
    padding: 3px 0 7px 0;
    font-size: 16px;
}
.mb__top {
    background: #e3f2fd;
    div {
        background: #004c94;
        height: 1px;
        border-left: 1px solid #004c94;
        border-right: 1px solid #004c94;
    }
}
.mb__top_1 {margin: 0 0 0 14px;}
.mb__top_2 {margin: 0 0 0 13px;}
.mb__top_3 {margin: 0 0 0 12px;}
.mb__top_4 {margin: 0 0 0 11px;}
.mb__top_5 {margin: 0 0 0 10px;}
.mb__top_6 {margin: 0 0 0 9px;}
.mb__top_7 {margin: 0 0 0 8px;}
.mb__top_8 {margin: 0 0 0 7px;}
.mb__top_9 {margin: 0 0 0 6px;}
.mb__top_10 {margin: 0 0 0 5px;}
.mb__top_11 {margin: 0 0 0 4px;}
.mb__top_12 {margin: 0 0 0 3px;}
.mb__top_13 {margin: 0 0 0 2px;}
.mb__top_14 {margin: 0 0 0 1px; .bbg;}
