.content__layout {
    .relative;
    padding: 0 30px 30px 30px;
    margin: auto;
    max-width: 1280px;
    &_main {
        .relative;
        min-height: 855px;
        margin: auto 30px;
    }
}
.content__block {
    .wbc;
    .p-20;
    .va-t;
    margin: auto;
    &_left {
        .absolute;
        left: 0; 
        right: 30%; 
        margin-right: 20px;
    }
    &_right {
        .absolute;
        left: 70%; 
        right: 0; 
        margin-left: 15px;
    }
}
.content__table {
    .wbc;
    .p-20;
    margin: auto;
    width: initial;
}
.content__padding {
    .absolute;
    width: 30px; 
    left: 70%; 
    margin-left: -15px;
}
.content__top {
    .mb-30;
    .wbc;
    height: 400px;
}
.content__messages {
    .w-80;
    margin: auto;
    height: 600px;
    overflow-y: auto;
}