
.content__layout {
    .w-90;
    .relative;
    margin: auto;
}

.content__block {
    .wbc;
    .p-20;
    .va-t;
    margin: auto;
    
}

.content__table {
    .wbc;
    .p-20;
    .w-100;
    margin: auto;
}
.content__block_left {
    
}
.content__padding {
    .fl-l;
    width: 30px;
    margin-left: -15px;
}