.header {
    .wbc;
    .mb-30;
    .relative;
    width: 100%;
}
.header__logo {
    .os-sb;
    .blue-logo;
    .tdn;
    .ml-30;
    .inline-b;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    background: url('@{img_path}/logo/logo-small.png') no-repeat left center;
    &_top {
        .os-b;
        .inline-b;
        font-size: 22px;
    }
    &_bottom {
        .os-sb;
        .inline-b;
        .ml-5;
        font-size: 18px;
    }
}
.header__right {
    .absolute;
    top: 0px;
    right: 30px;
}
.header__user {
    .inline-b;
    height: 100%;
    line-height: 50px;
    &_id {
        .os-sb;
        .blue;
        .inline-b;
        margin-left: 3px;
        font-size: 14px;
    }
    &_root {
        .relative;
        .inline-b;
        top: 6px;
        width: 24px;
        height: 24px;
        background: url('@{img_path}/icons.png') no-repeat -54px 0px;
        &_on {
            background: url('@{img_path}/icons.png') no-repeat -54px -24px;
        }
    }
    &_logout {
        .os-sb;
        .blue;
        .relative;
        .tdn;
        .inline-b;
        top: 8px;
        width: 24px;
        height: 24px;
        margin-left: 15px;
        font-size: 14px;
        background: url('@{img_path}/icons.png') no-repeat -54px -48px;
        &:hover {
            .opacity(0.8);
        }
    }
}
.header__dbm {
    .inline-b;
    .rounded-corners(3px);
    .ml-20;
    .white;
    .os-b;
    .relative;
    top: 2px;
    width: 90px;
    font-size: 14px;
    padding: 10px;
    background-color: #4db6ac; 
}
.dBm_svg {
    .relative;
    .inline-b;
    top: 2px;
}
.counter_dBm {
    .inline-b;
    .ta-r;
    min-width: 29px;
}
.dBm_opacity {
    .opacity(0.4);
}
