.header {
    .wbc;
    .mb-30;
    width: 100%;
    height: 50px;
}
.header__logo {
    .accuratist;
    .blue-logo;
    .tdn;
    .ml-20;
    .inline-b;
    height: 100%;
    line-height: 50px;
    font-size: 23px;
    padding-left: 20px;
    background: url('@{img_path}/logo/logo.png') no-repeat left 18px;
}
.header__right {
    .fl-r;
    width: 280px;
    height: 100%;
}
.header__user {
    .inline-b;
    height: 100%;
    line-height: 50px;
    &_id {
        .os-sb;
        .blue;
        .inline-b;
        font-size: 14px;
    }
    &_logout {
        .os-sb;
        .blue;
        .inline-b;
        .tdn;
        margin-left: 15px;
        font-size: 14px;
        &:hover {
            .tdu;
        }
    }
}
.header__dbm {
    .inline-b;
    .rounded-corners(3px);
    .ml-20;
    .white;
    .os-b;
    width: 90px;
    font-size: 14px;
    padding: 10px;
    background-color: #4db6ac;
    //background: url('@{img_path}/dBm/dbm.png') #4db6ac no-repeat 11px 8px;    
}
.dBm_svg {
    .relative;
    .inline-b;
    top: 2px;
}
.counter_dBm {
    .inline-b;
    .ta-r;
    min-width: 29px;
}
.dBm_opacity {
    .opacity(0.4);
}