.login__block {
    .absolute;
    top: 40%;
    left: 0px;
    bottom: 55%;
    right: 0px;
    width: 345px;
    height: 457px;
    margin: auto;
}
.login__form {
    .p-20;
    .rounded-corners(5px);
    .wbc;
    margin: auto;
    width: 305px;
    height: 280px;
    form {
        .relative;
        height: 100%;
    }
}
.login__title {
    .ta-l;
    .mb-25;
    .os-sb;
    .blue-logo;
    font-size: 28px;
    width: 175px;
    height: 112px;
    background: url('@{img_path}/logo/logo.png') no-repeat left center;
    padding-left: 170px;
}
.login__input {
    .block;
    .os-r;
    .p-15;
    font-size: 17px;
    width: 90%;
    height: 20px;
    line-height: 20px;
    &_button {
        .absolute;
        .os-sb;
        .pointer;
        .blbc; .white;
        padding: 12px 15px;
        bottom: 0px;
        left: 0px;
        font-size: 14px;
        border: 1px solid @blue;
        &:focus {
            border: 1px solid @gray;
        }
        &:hover {
            .opacity(0.9);
        }
    }
}
.login__hint {
    .os-r;
    .inline-b;
    .va-t;
    .absolute;
    bottom: 0px;
    right: 40px;
    vertical-align: top;
    width: 170px;
    font-size: 12px; 
    color: #757474;
    line-height: 15px;
    margin-left: 20px;
}