.message {
    .w-100;
    .relative;
    border-bottom: 2px solid @white;
    min-height: 94px;
    clear: both;
    zoom: 1;
}
.message__block {
    .ta-l;
    .os-r;
    .inline-b;
    .mb-10;
    .rounded-corners(15px);
    //word-break: break-all;
    width: 43%;
    font-size: 14px;
    line-height: 21px;
    padding: 10px 15px;
    clear: both;
    zoom: 1;
    &_outbox {
        .fl-r;
        .mr-15;
        .w-70;
        background-color: rgba(33, 150, 243, 0.2);
    }
    &_inbox {
        .w-40;
        background-color: rgba(77, 182, 172, 0.2);
    }
}
.message__phone {
    .os-sb;
    font-size: 13px;
}
.message__date {
    .lgray;
    .os-sb;
    .mt-10;
    font-size: 13px;
}

.message__icon {
    .inline-b;
    .va-m;
    .mr-5;
    width: 18px;
    height: 18px;    
    &_inbox {
        background: url('@{img_path}/icons.png') no-repeat 0px 0px;
    }
    &_outbox {
        background: url('@{img_path}/icons.png') no-repeat 0px -36px;
    }
}

.message__icon_small {
    .inline-b;
    .va-tt;
    width: 18px;
    height: 18px; 
    &-inbox {
        background: url('@{img_path}/icons.png') no-repeat 0px -18px;
    }
    &-outbox {
        background: url('@{img_path}/icons.png') no-repeat 0px -54px;
    }
}