.nav {
    .os-sb;
    .ttu;
    height: 100%;
    line-height: 40px;
    font-size: 14px;
    background-color: #e3f2fd;
    padding-left: 30px;
}
.nav__list {
    height: 100%;
}
.nav__item {
    .inline-b;
    height: 100%;
    padding: 0 15px;
    &_active {
        .abc;
        .nav__link {
            .white;
            &:hover {
                .opacity(1);
            }
        }
    }
}
.nav__link {
    .black;
    .tdn;
    &:hover {
        .opacity(0.7);
    }
}
