.message__status {
    .inline-b;
    .va-tt;
    .ml-5;
    width: 18px;
    height: 18px;
    &_new { //новое
    }
    &_sent { //отправлено
    }
    &_read { //прочитано
    }

    &_error { //ошибка отправления
        background: url('@{img_path}/icons.png') no-repeat -36px 0px;
    }
    &_sad_pedobear { //слишком старая
        background: url('@{img_path}/icons.png') no-repeat -36px -36px;
    }
    &_exceeded { //превышено количество попыток отправки
        background: url('@{img_path}/icons.png') no-repeat -36px -54px;
    }
    &_sending { //отправляется
        background: url('@{img_path}/icons.png') no-repeat -36px -36px;
    }
}

.message__status_inbox {
    &-new { //новое
        background: url('@{img_path}/icons.png') no-repeat 0px 0px;
    }
    &-sent { //отправлено
        width: 17px !important;
        background: url('@{img_path}/icons.png') no-repeat -18px 0px;
    }
    &-read { //прочитано
        background: url('@{img_path}/icons.png') no-repeat -18px -18px;
    }
}
.message__status_outbox {
    &-new { //новое
        background: url('@{img_path}/icons.png') no-repeat 0px -36px;
    }
    &-sent { //отправлено
        width: 17px !important;
        background: url('@{img_path}/icons.png') no-repeat -18px -36px;
    }
    &-read { //прочитано
        background: url('@{img_path}/icons.png') no-repeat -18px -54px;
    }
}