body {
    min-width: 1024px;
}
.counter {
    .absolute;
    .os-r;
    bottom: 85px;
    right: 30px;
    font-size: 13px;
    color: #6890cc;
}
.publicKey_copy {
    .blue-logo;
    .pointer;
    .inline-b;
    border-bottom: 1px dashed @blue-logo;
    &:hover {
        border-bottom: 1px solid @blue-logo;
    }
}
.publicKey_full {
    .mt-10;
}
.title {
    .os-sb;
    font-size: 17px;
}
.download {
    .inline-b;
    .va-t;
    .tdn;
    .black;
    .ml-5;
    width: 15px;
    height: 15px;
    background: url('@{img_path}/download-icon.png') no-repeat center center;
}
.hint_i {
    .rounded-corners(100px);
    .pointer;
    .ml-5;
    .white;
    text-transform: lowercase;
    background-color: #2196f3;
    padding: 0 6px;
    font-size: 12px;
}