body {
    min-width: 1024px;
}
h2 {
    .os-sb;
    font-size: 17px;
}
input {
    .os-r;
    .rounded-corners(3px);
    font-size: 14px;
    padding: 7px;
    border: 1px solid @gray;
}
input[type="text"] {
    &:focus {
        border: 1px solid @blue;
    }
}
.input_phone {
    .os-sb;
    width: calc(~"100% - 14px");
    height: 35px;
    font-size: 23px;
} 
textarea {
    .os-r;
    .rounded-corners(3px);
    .block;
    .os-r;
    resize: vertical;
    width: 612px;
    height: 19px;
    max-height: 300px;
    font-size: 14px;
    padding: 7px;
    border: 1px solid @gray;
    &:focus {
        border: 1px solid @blue;
    }
}
.textarea__message {
    width: calc(~"100% - 14px");
    height: 160px;
    resize: none;
    font-size: 22px;
}
.label {
    .os-sb;
    .bold;
    .inline-b;
    .mb-10;
    font-size: 14px;
    &_wrong {
        .os-sb;
        .bold;
        .red;
        .ta-c;
        .mt-20;
        font-size: 14px;
    }
    &_blue {
        .blue;
        .pointer;
        .fl-r;
        .mt-20;
        border-bottom: 1px dashed rgba(33, 150, 243, 0.5);
        &:hover {
            border-bottom: 1px dashed rgba(33, 150, 243, 1);
        }
    }
}

.counter {
    .absolute;
    .os-r;
    bottom: 85px;
    right: 30px;
    font-size: 13px;
    color: #6890cc;
}